# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js Build Outputs
/.next/
/out/
/build

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing & Coverage
/coverage

# Environment Variables
.env
.env*.local
.env.production
.env.development

# Logs & Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Vercel
.vercel

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Office Temp Files (generated when opening info.xlsx in Excel)
~$*

# IDE & Editor Files
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Certificates & Secrets
*.pem
*.key
*.cert
